﻿@model IEnumerable<Admin.Models.Property>

@{
    ViewBag.Title = "Property Listing";
}

<h2>Property Listing</h2>

<p>
    @Html.ActionLink("Create New Property", "Create")
</p>
    @if (@ViewBag.Message != null)
    {
    <div style="border: 1px solid red">
        @ViewBag.Message
    </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PropertyDetail)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberOfUnites)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>
                        @Html.DisplayFor(modelItem => item.PropertyName)
                    </b>
                    <br />
                    @Html.DisplayFor(modelItem => item.Address)

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyType)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PropertyDetail)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNumberOfUnites)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProperty", new { id = item.PropertyId }) |
                    @Html.ActionLink("Details", "PropertyDetail", new { id = item.PropertyId }) |
                    @Html.ActionLink("Delete", "DeleteProperty", new { id = item.PropertyId }, htmlAttributes: new { onclick = "return confirm('Do you want to delete [ " + item.PropertyName + " ]');" })
                </td>
            </tr>
        }

    </table>
