﻿@model Admin.Models.Property

@{
    ViewBag.Title = "Property Detail";
}

<h2>Property Detail</h2>

<div>
    @*<h4>Property</h4>*@

    <table class="table" style="width:50%">
        <tr><th width="40%">@Html.DisplayNameFor(model => model.PropertyName)</th><td width="60%">@Html.DisplayFor(model => model.PropertyName)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.Address)</th><td>@Html.DisplayFor(model => model.Address)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.CityName)</th><td>@Html.DisplayFor(model => model.CityName)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.State)</th><td>@Html.DisplayFor(model => model.State)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.ZipCode)</th><td>@Html.DisplayFor(model => model.ZipCode)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.PropertyType)</th><td>@Html.DisplayFor(model => model.PropertyType)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.PropertyDetail)</th><td>@Html.DisplayFor(model => model.PropertyDetail)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.TotalNumberOfUnites)</th><td>@Html.DisplayFor(model => model.TotalNumberOfUnites)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.Status)</th><td>@Html.DisplayFor(model => model.ShowStatus)</td></tr>
    </table>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNumberOfUnites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfUnites)
        </dd>

        <dt>
                @Html.DisplayNameFor(model => model.PropertyQuestion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropertyQuestion)
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
